<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Geo:ital@0;1&family=Jacquard+24&family=Jersey+10&family=Jersey+15&family=Jersey+20&family=Jersey+25&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">


</head>
<body class="index-body">
    <h1 class="index-title">Love Letters</h1>
   <div class="main-container">
    <!-- a tag linking to letters page -->
    
    <!-- Read container -->
    <a href="/letters" class="">
      
       <div class="read-container">
        <h1>Click here to read letters </h1>
        <img src="/images/envelope.png" alt="" class="envelope-art">
      </div>
     </a>
     <!-- Write container -->
       <div class="write-container">
        <h1>Write a letter!!</h1>
       
        <!-- Tests -->
          <div class="index-letter" >
            <div class="index-letter-content">
              <!-- <h2 class="modal-header">Write a letter</h2> -->
              <form action="/letters" method="POST">
                <ul>
                   <li style="list-style: none;" class="form-group">
                    <label for="recipient" class="label">To:</label>
                      <input type="text" name="recipient" id="recipient" >
                  </li>
                  <li style="list-style: none;" class="form-group">
                     <label for="sender" class="label">Your Name:</label>
                      <input type="text" name="sender" id="sender" >
                  </li>
                  <li style="list-style: none;" class="form-group">
                    <label for="message" class="label">Write a message:</label>
                      <textarea name="message" id="message" rows="5" ></textarea>
                  </li>
                  <!-- Select design -->
                  <li style="list-style: none;" class="form-group">
                    <label for="design" class="label">Select your design:</label>
                    <div class="radio-buttons">
                      <input  name="design" type="radio" id="oldDesign" value="oldpaper100px.png">
                         <label for="oldDesign">Old</label>
                      <input type="radio" name="design" id="pinkDesign" value="pink100px.png" >
                        <label for="pink">Pink</label>
                    </div>
                  </li>
                </ul>
                <div class="button-container">
                  <button type="submit">Send Letter</button>
                </div>
                     
                
              </form>
              
            </div>
           </div>
        </div>
   </div>

   
                
</body>
</html>